.clearfix{
 display: table;
 content: "";
 clear: both;
}

#cont-img {
 width: 100%;
 max-height: 570px;
 overflow: hidden;
 position: relative;
}

#cont-img > img {
 width: 100%;
}

#navbar{
 position: fixed;
 left: 0;
 right: 0;
 width: 100%;
 background-color: white;
 padding: 10px;
 z-index: 1;
}

#navbar-logo{
 margin-left: 170px;
 float: left;
}

a#logo{
 float: left;
 margin-bottom: 3px;
 margin-top: 3px;
}

#navbar-logo > #logo >img {
 width: 80px;
 height: 30px;
}

#navbar-ul {
 margin-right: 170px;
 float: right;
}

#navbar-ul ul li {
 float: left;
 list-style-type: none;
}

.layover {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
}

#cont-img .layover #text-social-header {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 text-align: center;

}

#text-social-header h1{
 font-size: 50px;
 font-weight: 600;
 line-height: 60px;
 margin-bottom: 8px;
}

#text-social-header p{
 font-size: 19px;
 font-weight: 400;
 line-height: 22px;
 margin-bottom: 16px;
}

#product > .container {
 margin-top: 50px;
 margin-bottom: 50px;
}

.product-position .col-lg-12 {
 padding-top: 50px;
 text-align: center;
 padding-bottom: 50px;
 background: #FAFAFA;
}

.product-img > img {
 max-width: 200px;
 margin: 20px 0;
}

.title-text h3, .title-text p {
 margin: 15px 0;
}

.title-text p {
 font-size: 21px;
}

.title-text a {
 text-decoration: none;
 color: #0070c8;
 font-size: 20px;
}

.one, .two {
 margin-right: 20px;
 margin-left: 20px;
}

@media screen and (max-width: 767px){
 .one, .two {
  margin: 0;
 }
 .two{
  padding-top: 40px;
  padding-bottom: 40px;
 }
}

#background-iphonesection{
 background: url(../img/HelbizBanner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 500px;
 background-position-x: -200px;
}

#iphone {
 position: relative;
 margin-top: 50px;
 margin-bottom: 90px;
}

/*Extra*/
@media screen and (min-width: 1500px){
 #background-iphonesection{
  background-position-x: 0px;
 }
}

/*lg*/
@media screen and (min-width: 992px) {

 #iphone > .container {
  margin: 40px auto;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 70%;
 }

 .text-of-iphone .col-lg-12 .left{
  float: left;
  width: 25%;
  font-size: 25px;
 }

 .text-of-iphone .col-lg-12 .right {
  float: right;
  right: 30px;
 }

}

/*xs-md*/
@media screen and (max-width: 991px) {

 #iphone > .container {
  margin: 260px auto 40px auto;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 70%;
 }


}

#iphone > img {
 position: absolute;
 top: 160px;
 left: 50%;
 transform: translate(-50%);
 max-height: 630px;
 z-index: 1;
}

/*xs*/
@media screen and (max-width: 767px) {

 #iphone > img {
  max-height: 350px;
 }

 #iphone > .container {
  margin-top: 90px;
 }

 #background-iphonesection{
  height: 400px;
 }

 #iphone {
  top:0;
  bottom:0;
 }

}

#three-images > .container{
 max-width: 95%;
 margin-bottom:50px;
}

#three-images .container .first-background {
 background: url(../img/ScooterHelbiz-2400.jpg);
 min-height: 400px;
 background-size: cover;
 background-repeat: no-repeat;
 margin-bottom: 40px;
 color: #fff;
 position:relative;
}

#first-background-text{
 color: white;
 position: absolute;
 position: absolute;
 left: 65%;
 top: 50%;
 transform: translate(0px, -50%);
 text-align: center;
}

/*md*/
@media screen and (min-width: 768px) and (max-width: 991px)  {
 #three-images > .container {
  max-width: 80%;
 }
}

#second-background {
 background: url(../img/HelbiZAPP.png)bottom no-repeat,linear-gradient(#41566a,#252f38) 50% no-repeat;
 background-size: cover;
}

#third-background {
 background: url(../img/Cities-1500.jpg);
 background-size: cover;
}

#text-second-block-background, #text-third-block-background {
 color: white;
 position: absolute;
 left: 50%;
 top: 20%;
 transform: translate(-50%);
 width: 100%;
 text-align: center;
}


#text-second-block-background h2, #text-third-block-background h2 {
 font-size: 25px;
 font-weight: 600;
 margin-bottom: 8px;
}

#text-second-block-background p, #text-third-block-background p {
 font-size: 20px;
 font-weight: 400;
 margin-bottom: 10px;
}

#text-second-block-background a, #text-third-block-background a {
 text-decoration: none;
 color: white;
 margin-left: 20px;
 margin-right: 20px;
}

#second-background{
 background-size: 300px,100%;
}

#second-background, #third-background{
 min-height: 400px;
 width: 100%;
 position: relative;
}

/*lg-md*/
@media screen and (min-width: 768px){
 .second-block{
  margin-right: 20px;
 }
 .third-block{
  margin-left: 20px;
 }
}

/*xs*/
@media screen and (max-width: 767px) {
 #three-images .container [class*="col-xs"]{
  margin-bottom: 20px;
 }

 #three-images .container .first-background {
 background-position-x: -100px;
 }

 #first-background-text {
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
 }

 #text-second-block-background, #text-third-block-background {
  top: 12%;
 }

 #text-second-block-background h2, #text-third-block-background h2 {
  font-size: 30px;
 }

 #text-second-block-background p, #text-third-block-background p {
  font-size: 22px;
 }

 #text-second-block-background a, #text-third-block-background a {
  font-size: 25px;
 }

}

/*Social section*/

#social {
 background: url(../img/Social-Banner.jpg) 50% no-repeat;
 background-size: cover;
 height: 420px;
 margin-bottom: 40px;
 position: relative;
}

.social-container {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 background: white;
 height: 47%;
 width: 450px;
 color: black;
}

/*Tablet version*/
@media screen and (min-width: 768px) and (max-width: 991px) {
 .social-container {
  width: 430px;
 }
}

/*Smartphone version*/
@media screen and (max-width: 767px) {
 .social-container {
  width: 410px;
 }
}

/*extra*/
@media screen and (max-width: 576px) {
 .social-container {
  width: 90%;
 }
}

.social-container ul li{
 float: left;
 list-style-type: none;
 filter: invert(1);
 margin-top: 10px;
}

.social-container ul li + li{
 margin-left: 30px;
}

.center {
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%);
}

.center h2 {
 font-size: 32px;
}
