.clearfix{
 display: table;
 content: "";
 clear: both;
}

#cont-img {
 width: 100%;
 max-height: 570px;
 overflow: hidden;
 position: relative;
}

#cont-img > img {
 width: 100%;
}

#navbar{
 position: fixed;
 left: 0;
 right: 0;
 width: 100%;
 background-color: white;
 padding: 10px;
 z-index: 1;
}

#navbar-logo{
 margin-left: 170px;
 float: left;
}

a#logo{
 float: left;
 margin-bottom: 3px;
 margin-top: 3px;
}

#navbar-logo > #logo >img {
 width: 80px;
 height: 30px;
}

#navbar-ul {
 margin-right: 170px;
 float: right;
}

#navbar-ul ul li {
 float: left;
 list-style-type: none;
}

.layover {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
}

#cont-img .layover #text-social-header {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 text-align: center;

}

#text-social-header h1{
 font-size: 50px;
 font-weight: 600;
 line-height: 60px;
 margin-bottom: 8px;
}

#text-social-header p{
 font-size: 19px;
 font-weight: 400;
 line-height: 22px;
 margin-bottom: 16px;
}

#product > .container {
 margin-top: 50px;
 margin-bottom: 50px;
}

.product-position .col-lg-12 {
 padding-top: 50px;
 text-align: center;
 padding-bottom: 50px;
 background: #FAFAFA;
}

.product-img > img {
 max-width: 200px;
 margin: 20px 0;
}

.title-text h3, .title-text p {
 margin: 15px 0;
}

.title-text p {
 font-size: 21px;
}

.title-text a {
 text-decoration: none;
 color: #0070c8;
 font-size: 20px;
}

.one, .two {
 margin-right: 20px;
 margin-left: 20px;
}

@media screen and (max-width: 767px){
 .one, .two {
  margin: 0;
 }
 .two{
  padding-top: 40px;
  padding-bottom: 40px;
 }
}

#background-iphonesection{
 background: url(../img/HelbizBanner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 500px;
 background-position-x: -200px;
}

#iphone {
 position: relative;
 top: 60px;
 bottom: 60px;
}

/*Extra*/
@media screen and (min-width: 1500px){
 #background-iphonesection{
  background-position-x: 0px;
 }
}

/*lg*/
@media screen and (min-width: 992px) {

 #iphone > .container {
  margin: 40px auto;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 70%;
 }

 .text-of-iphone .col-lg-12 .left{
  float: left;
  width: 25%;
  font-size: 25px;
 }

 .text-of-iphone .col-lg-12 .right {
  float: right;
  right: 30px;
 }

}

/*xs-md*/
@media screen and (max-width: 991px) {

 #iphone > .container {
  margin: 260px auto 40px auto;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 70%;
 }


}

#iphone > img {
 position: absolute;
 top: 160px;
 left: 50%;
 transform: translate(-50%);
 max-height: 630px;
 z-index: 1;
}

/*xs*/
@media screen and (max-width: 767px) {

 #iphone > img {
  max-height: 510px;
 }

 #iphone > .container {
  margin-top: 220px;
 }

 #background-iphonesection{
  height: 400px;
 }

 #iphone {
  top:0;
  bottom:0;
 }

}
